<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<script src="/scripts/navbar.js"></script>
<div class="navbar">
  <div class="left-nav">
    <div id = "logo-background"></div>
    <img src="" id = "logo">
    <div class = "title"><span class = "green">Med</span><span class="purple">lingual</span></div>
  </div>
  <div class="right-nav" id="navmenu">
    <li class="nav-link 1"><a>About</a></li>
    <li class="nav-link 2"><a>Who We Are</a></li>
    <li class="nav-link 3"><a>IAP Class Application</a></li>
    <li class="icon"></li>
  </div>
</div>
