<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<script src="/scripts/navbar.js"></script>
<div class="navbar">
  <a href="/">
    <div class="left-nav">
      <div id = "logo-background"></div>
      <img src="/images/alternate_color_logo.png" class = "logo">
      <!--div class = "title"><span class = "green">Med</span><span class="purple">lingual</span></div> -->
    </div>
  </a>
  <div class="right-nav" id="navmenu">
    <li class="nav-link about"><a href="/about">About</a></li>
    <li class="nav-link whoweare"><a href="/whoweare">Who We Are</a></li>
    <li class="nav-link whoweare"><a href="/projects">Projects</a></li>
    <!--<li class="nav-link application"><a>IAP Class Application</a></li>-->
    <li class="icon"></li>
  </div>
</div>
