<html>
  <head>
    <meta charset="utf-8">
    <title>Medlingual</title>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>

    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class = "section purple-gradient" id = "about">
        <div class= "infobox">
          <div class= "golden">“If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart.”
-Nelson Mandela</div>
          </br>
          <div>When a patient does not speak enough English to understand fully what the doctor is saying, they are not able to communicate or make well-informed decisions regarding their health. Medical interpreters bridge the gap by interpreting what the doctor says into the patient’s native language and vice versa, often providing an additional sense of comfort that comes from hearing one’s own language. Through connections to medical interpreter training and volunteer opportunities, MIT Medlingual aims to allow multilingual/multicultural students to use their language skills to improve the quality of care for patients in the MIT/Cambridge/Boston area who don't speak English as their first language.
          </div>
          </br>
          <div>The Medlingual team has already identified several settings (free clinics, shelters, etc.) in the local community in need of bilingual/multilingual interpreters. This need for multicultural health care is not surprising: as of 2015, more than 27% of Cambridge residents register as foreign-born. Many of these places cannot afford to hire interpreter and translation services on a regular basis, and it is this need that Medlingual seeks to address. Supporting Medlingual will both provide much-needed services for this crucial population and allow multilingual MIT students to better utilize the language skills they already have, gaining an invaluable volunteer perspective that includes first-hand exposure to clinical settings, internship opportunities, and ethical decision-making.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
