<html>
  <head>
    <meta charset="utf-8">
    <title>Medlingual</title>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>
    
    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class="section green-gradient" id="intro">
        <div class = "infobox">
          <div>
            <div>Welcome to</div>
            <span class = "title" style="font-size: 3em;"><span class="green">Med</span><span class="purple">lingual</span></span>
          </div>
          <p>Through partnerships with local free clinics and hospitals, Medlingual allows multilingual/multicultural students to use their language skills to improve the quality of care for patients in the MIT/Cambridge/Boston area who don't speak English as their first language.</p>
        </div>
      </div>
      <div class = "section purple-gradient" id = "about">
        <div class= "infobox">
          <div class= "golden">“If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart.”
-Nelson Mandela</div>
          </br>
          <div>When a patient does not speak enough English to understand fully what the doctor is saying, they are not able to communicate or make well-informed decisions regarding their health. Medical interpreters bridge the gap by interpreting what the doctor says into the patient’s native language and vice versa, often providing an additional sense of comfort that comes from hearing one’s own language. Through connections to medical interpreter training and volunteer opportunities, MIT Medlingual aims to allow multilingual/multicultural students to use their language skills to improve the quality of care for patients in the MIT/Cambridge/Boston area who don't speak English as their first language.
          </div>
          </br>
          <div>The Medlingual team has already identified several settings (free clinics, shelters, etc.) in the local community in need of bilingual/multilingual interpreters. This need for multicultural health care is not surprising: as of 2015, more than 27% of Cambridge residents register as foreign-born. Many of these places cannot afford to hire interpreter and translation services on a regular basis, and it is this need that Medlingual seeks to address. Supporting Medlingual will both provide much-needed services for this crucial population and allow multilingual MIT students to better utilize the language skills they already have, gaining an invaluable volunteer perspective that includes first-hand exposure to clinical settings, internship opportunities, and ethical decision-making.
          </div>
        </div>
      </div>
      <div class="section green-gradient" id="board">
        <table class = "profiletable">
          <tr>
            <td><img class="profilephoto" src="/images/Shahul.jpg"></td>
            <td><img class="profilephoto" src="/images/Crystal.jpg"></td>
            <td><img class="profilephoto" src="/images/Coral.jpg"></td>
          </tr>
          <tr>
            <td><span class = "profiletitle"><div>Shahul Alam</div><span class="golden">Webmaster</span></span></td>
            <td><span class = "profiletitle"><div>Crystal Chang</div><span class="golden">President</span></span></td>
            <td><span class = "profiletitle"><div>Coral Bays-Muchmore</div><span class="golden">Public Relations</span></span></td>
          </tr>
        </table>
        </br>
        <table class="profiletable">
          <tr>
            <td><img class="profilephoto" src="/images/MaryClare.jpg"></td>
            <td><img class="profilephoto" src="/images/Leon.jpg"></td>
            <td><img class="profilephoto" src="/images/Amanda.jpg"></td>
            <td><img class="profilephoto" src="/images/Alexa.jpg"></td>
          </tr>
          <tr>
            <td><span class = "profiletitle"><div>Mary Clare Beytagh</div><span class="golden">Class Coordinator</span></span></td>
            <td><span class = "profiletitle"><div>Leon Yim</div><span class="golden">Treasurer</span></span></td>
            <td><span class = "profiletitle"><div>Amanda Cao</div><span class="golden">Volunteer Coordinator</span></span></td>
            <td><span class = "profiletitle"><div>Alexa Guan</div><span class="golden"></span></span></td>
          </tr>
        </table>
      </div>
      <div class="section purple-gradient" id="interest-form">
        <div class= "google-form"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPZWUgjHLXlkde1wu75H_Q2WsMaYbDyKk69V5OzBhINj1OWg/viewform?embedded=true" width="700" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
      </div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
