<html>
  <head>
    <meta charset="utf-8">
    <title>Medlingual</title>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>
    
    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class="section" id="about">
        <div>Sample filler text.</div>
      </div>
      <div class="section" id="interest-form">
      </div>
      <div class="section" id="board">
        <img class="profilephoto" src="/images/Shahul.jpg">
        <img class="profilephoto" src="/images/Crystal.jpg">
        <img class="profilephoto" src="/images/Coral.jpg">
        <img class="profilephoto" src="/images/MaryClare.jpg">
        <img class="profilephoto" src="/images/Leon.jpg">
        <img class="profilephoto" src="/images/Amanda.jpg">
        <img class="profilephoto" src="/images/Alexa.jpg">
      </div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
