<html>
  <head>
    <meta charset="utf-8">
    <title>Medlingual</title>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>
    
    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container">
      <div class="section green-gradient" id="intro">
        <div class = "infobox">
          <div>
            <div style="font-size: 2em">Welcome to</div>
            <span class = "title" style="font-size: 3em;"><div><span class="green">Med</span><span class="purple">lingual</span></div></span>
          </div>
          <div>Through partnerships with local free clinics and hospitals, Medlingual allows multilingual/multicultural students to use their language skills to improve the quality of care for patients in the MIT/Cambridge/Boston area who don't speak English as their first language.</div>
        </div>
      </div>
    </div>
  </body>
</html>
