<html>
  <head>
    <meta charset="utf-8">
    <title>Medlingual</title>
    <% include ./partials/head %>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet'>
    
    <!-- Libraries -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="/scripts/projects.js"></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="big-container project-container">
        <div class="projectnav">
          <div class = "project-link chinatown">Chinatown Citizenship Clinic</div>
          <div class = "project-link cha">Cambridge Health Alliance</div>
          <div class = "project-link bpe">Boston Partners in Education</div>
          <div class = "project-link clinical">Clinical Volunteering</div>
          <div class = "project-link instruction">Medical Interpreting Instruction</div>
        </div>
        <div class="projectdata">
          <div class="section green-gradient chinatown">
            <div class = "project-title purple">
            Chinatown Citizenship Clinic
            </div>
            <div class = "infobox">
              <div>
Medlingual is partnering with Harvard's Phillips Brooks House Association (PBHA) to run and volunteer in Chinatown Citizenship, a program where volunteers teach courses in U.S. history and government to Chinatown immigrants to support them in the naturalization process. While many of the tutors speak Mandarin or Cantonese, Chinese-speaking ability is not required - there are courses that are taught in English.
              </div>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScyyFaxC31pnnjCjWz5PZl1hF7qv0cJb6wLvEXh26ktKryWIQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="section purple-gradient cha hide">
            <div class = "project-title green">
            Cambridge Health Alliance
            </div>
            <div class = "infobox">
              <div>
              We're excited to be volunteering with Cambridge Health Alliance! CHA serves a very diverse population and provides many multilingual services. They have offered us many projects to collaborate with them on.
              </div>
              </br>
              <div>A summary of each project can be found on the Google Form, and details are included below.
              </div>
              </br>
              <div>Elder Service Plan</div>
              <ul>
                <li>CHA offers a healthcare program for older adults, and they also hold many social activities.</li> 
                <li>Currently, the activities are only run in English, but they would like to expand the program to include events in other languages.</li>
                <li>You would work with them to <b class="golden">plan and run social activities</b> of your choosing. This project is a flexible and fun way to apply your language skills in a healthcare setting!</li>
                <li>Location: Cambridge and Malden</li>
              </ul>
              </br>
              <div>Social determinants of health</div>
              <ul>
                <li>CHA is starting a pilot program to <b class="golden">help people develop healthier lifestyles.</b></li>
                <li>You would be helping them expand this new program to non-English speakers.</li>
                <li>Location: Malden</li>
              </ul>
              </br>
              <div>Community wellness education</div>
              <ul>
                <li>CHA would like to go around to churches and other locations to <b class = "golden">teach people in the community about healthcare topics.</b></li>
                <li>They would like to offer these classes in the language(s) relevant to each community.</li>
                <li>You would be using your language skills to teach people how to be healthier.</li>
              </ul>
              </br>
              <div>Shadowing</div>
              <ul>
                <li>CHA employs a large number of professional medical interpreters throughout all of their locations.</li>
                <li>Students who have taken the certification course can potentially <b class = "golden">shadow CHA's professional interpreters.</b></li>
              </ul>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdcJCyvbumRqa78v1aLJm2DPttafUhMxMVuwmICJGImuflUrg/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="section green-gradient bpe hide">
            <div class = "project-title purple">
            Boston Partners in Education
            </div>
            <div class = "infobox">
              <div>
Medlingual volunteers can work with Boston Partners in Education as part of two programs. 1) Academic Mentor Program: Support English Language Learners (ELL) in the Boston Public Schools. You will work one-on-one or a small group of 2-4 students for an hour a week during the school day (minimum time commitment), helping them with both academic subjects and personal growth. These matches will be made based on your preferences such as location, availability, subject matter, grade level, and your choice of one-on-one vs. small group work. 2) Volunteer Recruitment Material Translation--translate flyers (~250 words) or materials for BPE as needed.
              </div>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdvCiw1ZihzeiGAT2wqV8oMCX2vrwXUijw844RLqW_eyWsBMQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="section purple-gradient clinical hide">
            <div class = "project-title green">
            Clinical Volunteering
            </div>
            <div class = "infobox">
              <div>
Currently, we offer two clinical volunteering opportunities. As a volunteer, you can help to check-in patients at either the CASPAR Emergency Center (primary demand for Spanish speakers) or at the MGH Institutes of Health (demand for Chinese and Spanish speakers).
              </div>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMugrRSWQG7pOSU1nSncnJ_hROYrDtWGYT2IuGxy_uTa5KHw/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="section green-gradient instruction hide">
            <div class = "project-title purple">
            Medical Interpreting Instruction
            </div>
            <div class = "infobox">
              <div>
This semester, Medlingual is providing instruction in medical interpreting by supporting students who wish to self-study the required material. Fill out the form below to receive study materials on medical interpretation in the core areas of Anatomy/Physiology, Interpreter Ethics/Code of Conduct, and Medical Terminology/Role Play. Besides providing these materials, we will also host several on-campus sessions during which students will practice roleplaying as interpreters.
              </div>
            </div>
            </br>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfptmMyQqELF7ue6KRuTVQ9eSVJ5mVsfxA8gZ4sO0pcCkwgnQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
        </div>
    </div>
  </body>
</html>
